[submodule "mkspiffs"]
	path = mkspiffs
	url = https://github.com/igrr/mkspiffs.git
[submodule "main/esp-idf-lib"]
	path = main/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib.git
[submodule "main/esp-hal"]
	path = main/esp-hal
	url = https://github.com/CalinRadoni/ESP32HAL
